.heading-title {
    margin-bottom: 50px;
}

.heading-title .city {
    color: #16DF2D;
}

.service-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: auto;
    grid-gap: 1rem; 
    width: 100%;
    margin: 20px 0px;
}

.card {
    border-bottom: 1px solid #16DF2D;
}

.card :hover {
    border-top: 1px solid #16DF2D;
}

.card-title {
    padding-top: 2px;
}

.card-title-link {
    text-decoration: none;
    color: #000;
}

.card-text {
    font-size: 1.1em;
}

.card-bottom-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card-bottom-info>div {
    font-size: 1.2em;
}

.card-bottom-info>div>i {
    color: #aaa;
}
.service-card-body {
    padding-bottom: 0;
}
.card-bottom-info {
    margin-bottom: 10px;
}

.service-title {
    line-height: 2em;
}

.details {
    margin: 20px;
}

.details button {
    margin: 10px 10px;
}

.details .detail-text {
    line-height: 1.5em;
    font-size: 1.4em;
}

.login-container {
    display: flex;
    justify-content: center;
    height: 60%;
}

.login-container .form-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.new-service-form .price-row {
    display: flex;
    justify-content: flex-start;
}

.new-service-form .price-row input {
    width: 20%;
    margin-left: 20px;
}

.service-li {
    margin-bottom: 20px;
    height: 100px;
}
.service-li .link-service{
    text-decoration: none;
    color: inherit;
    font-size: 1.3em;
}